.header{
	height: 15vh;
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.left input[type=text] {
	width: 100%;
	border: 3px solid #00B4CC;
	padding: 6px;
	height: 30px;
	border-radius: 15px 15px 15px 15px;
	font-size: 17px;
	outline: none;
	color: #9DBFAF;
	display: flex;
  	justify-content: space-between;
  	align-items: left;
}


.header select {
	text-align: justify;
}

.right {
	margin-left: auto
}